@charset "UTF-8";

:root
{
    --base-font: clamp(1.6rem, 4vw + 1.8rem, 2rem);
    --title-font: clamp(1.8rem, 4vw + 2rem, 2.2rem);
    --heading-font: clamp(2.2rem, 4vw + 2.4rem, 2.6rem);

    --main-color: rgb(18, 17, 24);
    --contrast-color: rgb(184, 0, 64);
    --hover-color: rgb(194, 10, 74);
    --active-color: rgb(204, 20, 84);
    --text-color: rgb(245, 246, 247);

    --shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.115);
    --transitions: background-color 0.3s ease, transform 0.2s ease;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
    
}

body
{
    min-height: 100%;
    margin: 5%;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-size: var(--base-font);
    font-weight: 500;
}

main, .container,
.search-form, .data-input,
.pokemon-container,
.size, .types
{
    display: flex;
    align-items: center;
    justify-content: center;
}

main
{
    flex-direction: column;
    gap: 2rem;
}

.title
{
    text-align: center;
    font-size: var(--heading-font);
    font-weight: 900;
    cursor: default;
}

.container
{
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow);
    width: 100%;
    max-width: 90vw;
}

.search-form
{
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.data-input
{
    width: 100%;
    gap: 2rem;
}

.form-label
{
    text-align: center;
}

.search-input, .search-button
{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: var(--base-font);
    text-align: center;
    width: 100%;
}

.search-button
{
    cursor: pointer;
    background-color: var(--contrast-color);
    color: var(--text-color);
    transition: var(--transitions);
}

.search-button:hover
{
    background-color: var(--hover-color);
    transform: translateY(0.2rem);
}

.search-button:active
{
    background-color: var(--active-color);
    transform: translateY(0.4rem);
}

.output
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50rem;
    justify-content: space-between;
    gap: 2rem;
}

.pokemon-container
{
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.types
{
    width: 100%;
    gap: 1rem;
    text-align: center;
}

.pokemon-type
{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

.name-and-id
{
    font-weight: 700;
}

.size, .types
{
    gap: 2rem;
}

.stats-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

table
{
    border-collapse: collapse;
    cursor: default;
    width: 100%;
    background-color: var(--contrast-color);
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

tr:not(:last-child)
{
    border-bottom: 0.5rem solid var(--text-color);
}


td, th
{
    padding: 0.8rem;
    text-align: center;
}

th:nth-child(2), td:nth-child(2)
{
    border-left: 0.5rem solid var(--text-color);
}

.form-label, th
{
    font-size: var(--title-font);
}

@media screen and (min-width: 500px)
{
    .container
    {
        width: 100%;
        max-width: 50rem;
    }
}
